& {
  text-align: center;
}

$create: #FC8735;

h1 {
  color: #666;
  font-size: 4em;
  display: inline-block;
  margin: 70px auto 10px;
}

h2 {
  color: #fff;
  font-size: 3.5em;
  margin-bottom: 10px;
  margin-top: 50px;
}

h3 {
  color: #fff;
  font-size: 2em;
  opacity: 0.8;
  font-weight: 100;
}

strong {
  font-weight: 700;
}

.machine-int h3 {
  text-align: left;
  margin-bottom: 10px;
}

.machine-int {
  img {
    margin-bottom: 10px;
  }
}

.columns p {
  text-align: left;
}

p.moi-desc {
  max-width: 500px;
  margin: 0 auto;
  text-align: center
}

.create-group {
  margin-top: 70px;
  background-color: #FC8735;
  padding-bottom: 30px;

  .see-more {
    float: none;
    width: 300px;
    max-width: 300px;
    padding: 0 10px;
    margin: 10px 0 30px
  }

  img {
    margin: 20px 0;
  }
}

.interpret-group {
  background-color: #FFCF00;
  padding-bottom: 30px;
}

.share-group {
  background-color: #82D34E;
  padding-bottom: 30px;
}

.image-container {
  text-align: left;
}

.center-image-container {
  margin-top: 30px;
}

p.section-desc {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
}

svg {
  position: absolute;
  overflow: visible;
}